*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 18px;
    line-height: 1.2em;
}

.main{
    width: 100%;
    max-width: 720px;
}

.list{
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record, .article{
    width: 100%;
    max-width: 720px;
    display: flex;
    flex-direction:row;
    align-items:center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: -1px;
}

.time{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 60px;
}

.detail{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info{
    width: 660px;
    min-height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin-left: 60px;*/
    border-left: solid 1px #000;
}
.info2{
    min-height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.route{
    /*min-height: 100px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
}
.buttons{
    /*min-height: 100px;*/
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-right: 10px;
}

.dep_t, .des_t{
    width: 60px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    /*padding-right: 5px;*/
}
.dep_p, .des_p{
    padding: 5px;
    border-left: solid 1px #000;
}

.icon{
    margin: 0 5px 0 10px;
}

.comment_pics{
    padding: 10px 40px 10px 30px;
}



.blank{
    width: 60px;
    min-height: 68px;
}
.foot{
    height: 100px;
}

span.flex :hover{
    cursor: all-scroll;
}
.flex{
    /*height: 100%;*/
    /*min-height: 100px;*/
    display: flex;
    flex-direction: row;
    align-items: space-between;
}
.flex-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*FAB*/
.fab {/*円の部分*/
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    width: 56px;/*幅*/
    height: 56px;/*高さ*/
    background: #fc4482;/*背景色*/
    text-align: center;/*中央寄せ*/
    border-radius: 50%;/*角丸く*/
    transition: .3s;/*滑らかな動きに*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
}

.fab:hover {/*ホバー時*/
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.fab i {/*中央のアイコン*/
  color: white;
  line-height: 56px;/*＝幅と高さ*/
  vertical-align: middle;
  font-size: 18px;/*サイズ*/
}
