/* アイコンサイズ */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* 背景が明るいとき用のアイコン色 */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* 背景が暗いとき用のアイコン色 */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*文字の調整*/
.selector {
  font-feature-settings : "palt";
}


*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 18px;
    line-height: 1.2em;
}
.navbar-default {
    background-color: #177cd4;
    /*border-color: #e7e7e7;*/
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav li a {
    color: #fff;
}
.navbar-default .navbar-brand:hover{
    color: #f0f0f0;
}
.navbar-default .navbar-nav li a:hover{
    color: #e7e7e7;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.dropdown-menu{
    background-color: #e7e7e7;
    color: #e6e6e6;
}
#search:hover{
    cursor: pointer;
}
.main{
    width: 100%;
    max-width: 720px;
}

.list{
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp{
    font-size: 21px;
    border-bottom: solid 1px #cacaca;
    padding-bottom: 14px;
    padding-left: 16px;
}
.record, .article{
    width: 100%;
    max-width: 720px;
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    /*border-top: 1px solid #000;*/
    /*border-bottom: 1px solid #000;*/
    /*margin-top: -1px;*/
}
.article{
    justify-content: space-between;
    padding: 16px;
}
.record{
    padding: 16px;
}
.record:nth-child(2n+1), .article:nth-child(2n) {    /* 偶数行 */
   background-color: white;
}
.record:nth-child(2n), .article:nth-child(2n+1) {  /* 奇数行 */
   background-color: #f4f4f4;
}

.overview h4{
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 16px;
    color: #000;
}
.overview h4:hover{
    cursor: pointer;
    text-decoration: underline;
}
#view, .j_btn{
    /*display: none;*/
    background-color: transparent;
    border-style: none;
}
.overview p{
    padding-left: 30px;
    color:#666;
}
.show_detail{
    padding: 0;
}

.time{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 60px;
}
/*自分の記録したもののみ右上に☓ボタン表示*/
.delete_btn:nth-of-type(2) {
    margin-left: auto;
}
.detail{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info{
    width: 618px;
    min-height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin-left: 60px;*/
    border-left: solid 1px #cfcfcf;
}
.info2{
    min-height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.route{
    /*min-height: 100px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    color:#666;
    font-size: 16px;
}
.comment{
    color:#666;
    font-size: 16px;
}
.buttons{
    /*min-height: 100px;*/
    min-width: 54px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-right: 10px;
}

.dep_t, .des_t{
    width: 70px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    /*padding-right: 5px;*/
}
.dep_p, .des_p{
    padding: 10px;
    border-left: solid 1px #cfcfcf;
}

.icon{
    margin: 0 5px 0 10px;
}
.show_comment:hover{
    cursor: pointer;
}
.comment_pics{
    padding: 10px 40px 10px 30px;
}

.box_inner{
    padding: 10px;
}
.radio-wrap{
    display: flex;
    justify-content: flex-start;
}
.radio-width{
    width: 300px;
}
.checkbox+.checkbox, .radio+.radio, .checkbox, .radio{
    margin-top: 10px; 
    width: 125px;
}
.col-md-6 .checkbox{
    width: auto;
}

.blank{
    width: 70px;
    min-height: 68px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:#666;
}
.foot{
    height: 100px;
}

span.flex :hover{
    cursor: all-scroll;
}
.flex{
    /*height: 100%;*/
    /*min-height: 100px;*/
    display: flex;
    flex-direction: row;
    align-items: space-between;
}
.flex-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*FAB*/
.fab {/*円の部分*/
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    width: 56px;/*幅*/
    height: 56px;/*高さ*/
    background: #db4437;/*背景色*/
    text-align: center;/*中央寄せ*/
    border-radius: 50%;/*角丸く*/
    transition: .3s;/*滑らかな動きに*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
}

.fab:hover {/*ホバー時*/
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.fab i {/*中央のアイコン*/
  color: white;
  line-height: 56px;/*＝幅と高さ*/
  vertical-align: middle;
  font-size: 18px;/*サイズ*/
}
